{% load project_content_extras %}

<div class="collapse" id="main-parameters-{{task.name}}">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="form-group">
                <label class="control-label">Calculation precision</label>
                <input type="text" name="precision" class="form-control">
            </div>
        </li>

        <li class="list-group-item">
            <div class="form-group">
                <label class="control-label">Stage number</label>
                <input type="text" name="stage_number" class="form-control js-stage-number">
            </div>
        </li>

        <li class="list-group-item">
            <div class="form-group">
                <label class="control-label">Mass rate</label>
                <input type="text" name="mass_rate" class="form-control">
            </div>
        </li>

        <li class="list-group-item">
            <div class="form-group">
                <label class="control-label">Stagnation temperature</label>
                <input type="text" name="T_stag_1" class="form-control">
            </div>
        </li>

        <li class="list-group-item">
            <div class="form-group">
                <label class="control-label">Stagnation pressure</label>
                <input type="text" name="p_stag_1" class="form-control">
            </div>
        </li>

        <li class="list-group-item">
            <div class="form-group">
                <label class="control-label">Minimal adiabatic efficiency</label>
                <input type="text" name="eta_ad_min" class="form-control">
            </div>
        </li>
    </ul>
</div>