{% load project_content_extras %}

<div class="collapse" id="mean-radius-parameters-{{task.name}}">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="form-group">
                <label class="control-label">u_out_1</label>
                <input type="text" name="u_out_1" class="form-control">
            </div>
        </li>

        <li class="list-group-item">
            <div class="form-group">
                <label class="control-label">d_rel_1</label>
                <input type="text" name="d_rel_1" class="form-control">
            </div>
        </li>


        <li class="list-group-item">
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">H_t_rel_first</label>
                        <input type="text" name="H_t_rel_first" class="form-control">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">H_t_rel_last</label>
                        <input type="text" name="H_t_rel_last" class="form-control">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">H_t_rel_max</label>
                            <input type="text" name="H_t_rel_max" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">H_t_rel_max_coord</label>
                            <input type="text" name="H_t_rel_max_coord" class="form-control">
                        </div>
                    </div>
                </div>

            </div>
        </li>

        <li class="list-group-item">
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">eta_ad_first</label>
                        <input type="text" name="eta_ad_first" class="form-control">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">eta_ad_last</label>
                        <input type="text" name="eta_ad_last" class="form-control">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">eta_ad_max</label>
                        <input type="text" name="eta_ad_max" class="form-control">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">eta_ad_max_coord</label>
                        <input type="text" name="eta_ad_max_coord" class="form-control">
                    </div>
                </div>

            </div>
        </li>

        <li class="list-group-item">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">c_a_rel_first</label>
                        <input type="text" name="c_a_rel_first" class="form-control">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">c_a_rel_last</label>
                        <input type="text" name="c_a_rel_last" class="form-control">
                    </div>
                </div>

            </div>
        </li>

        <li class="list-group-item">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">reactivity_first</label>
                        <input type="text" name="reactivity_first" class="form-control">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">reactivity_last</label>
                        <input type="text" name="reactivity_last" class="form-control">
                    </div>
                </div>

            </div>
        </li>

        <li class="list-group-item">
            <div class="form-group">
                <label class="control-label">inlet_alpha</label>
                <input type="text" name="inlet_alpha" class="form-control"
                       placeholder="Leave empty if not specified">
            </div>
        </li>

        <li class="list-group-item">
            <div class="form-group">
                <label class="control-label">Flow section type</label>
                <ul class="list-group">
                    <li class="list-group-item js-stage-repeating-block">
                        <label class="control-label js-stage-parameter">Stage</label>
                        <select name="flow_section_type" class="form-control js-stage-input">
                            <option value="ConstantOuterDiameterStageModel">Constant outer diameter</option>
                            <option value="ConstantMeanDiameterStageModel">Constant mean diameter</option>
                            <option value="ConstantInnerDiameterStageModel">Constant inner diameter</option>
                        </select>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>