<div class="container-fluid">
    <ul class="nav nav-pills">
        <li><button type="button" data-toggle="modal" data-target="#add-project-modal"
                    class="btn btn-default">Add project</button></li>
    </ul>

    <div id="add-project-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create project</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'gas_dynamics:add_project' user.username %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="project-name">Project name:</label>
                            <input type="text" id="project-name" class="form-control" name="name">
                        </div>

                        <button type="submit" class="btn btn-primary">Create!</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>